<app-navbar></app-navbar>
<br><br><br><br><br>
<div class="container-personalized mt-5">
  <div class="subtitle mb-5">Historial de pagos</div>
  <div class="card">

    <div class="d-flex mt-2">
      <button mat-stroked-button color="accent" class="mx-2 panel fw-bold mb-3" (click)="exportExcel()"><small><i
            class="fa-solid fa-file-excel"></i> Exportar
          Excel</small></button>
    </div>
    <div class="card-body">
      <mat-form-field>
        <mat-label class="no-select">Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
      </mat-form-field>
      <mat-tab-group (selectedTabChange)="filtrarPorCategoria($event.tab.textLabel)" #tabGroup>
        <mat-tab label="Mosquitos" value="Mosquitos"></mat-tab>
        <mat-tab label="PMM" value="PMM"></mat-tab>
        <mat-tab label="PreMini" value="PreMini"></mat-tab>
        <mat-tab label="Mini" value="Mini"></mat-tab>
        <mat-tab label="U13" value="U13"></mat-tab>
        <mat-tab label="U15" value="U15"></mat-tab>
        <mat-tab label="U17" value="U17"></mat-tab>
        <mat-tab label="Primera" value="Primera"></mat-tab>
      </mat-tab-group>

      <div class="mat-elevation-z8">
        <table mat-table id="table-data" class="table table-striped" [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="nombreCompleto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Completo </th>
            <td mat-cell *matCellDef="let row">
              <p class="name-center fw-bold"> <span
                  matTooltip="Fecha de Creación: {{row.fechaCreacion.toDate() | date: 'dd/MM/yyyy'}} Última Actualización: {{row.fechaActualizacion.toDate() | date: 'dd/MM/yyyy'}}">
                  <i class="fas fa-info-circle me-2" style="color: rgb(10, 118, 15); "></i>
                </span> {{row.nombre}}</p>
            </td>
          </ng-container>

          <ng-container matColumnDef="montoInsc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto Inscripción </th>
            <td mat-cell *matCellDef="let row"> {{row.montoInsc}} </td>
          </ng-container>

          <ng-container matColumnDef="mesMarzo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Marzo </th>
            <td mat-cell *matCellDef="let row"> {{row.mesMarzo}} </td>
          </ng-container>

          <ng-container matColumnDef="mesAbril">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Abril </th>
            <td mat-cell *matCellDef="let row"> {{row.mesAbril}} </td>
          </ng-container>

          <ng-container matColumnDef="mesMayo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mayo </th>
            <td mat-cell *matCellDef="let row"> {{row.mesMayo}} </td>
          </ng-container>

          <ng-container matColumnDef="mesJunio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Junio </th>
            <td mat-cell *matCellDef="let row"> {{row.mesJunio}} </td>
          </ng-container>

          <ng-container matColumnDef="mesJulio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Julio </th>
            <td mat-cell *matCellDef="let row"> {{row.mesJulio}} </td>
          </ng-container>

          <ng-container matColumnDef="mesAgosto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Agosto </th>
            <td mat-cell *matCellDef="let row"> {{row.mesAgosto}} </td>
          </ng-container>

          <ng-container matColumnDef="mesSeptiembre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Septiembre </th>
            <td mat-cell *matCellDef="let row"> {{row.mesSeptiembre}} </td>
          </ng-container>

          <ng-container matColumnDef="mesOctubre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Octubre </th>
            <td mat-cell *matCellDef="let row"> {{row.mesOctubre }} </td>
          </ng-container>

          <ng-container matColumnDef="mesNoviembre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Noviembre </th>
            <td mat-cell *matCellDef="let row"> {{row.mesNoviembre}} </td>
          </ng-container>

          <ng-container matColumnDef="mesDiciembre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Diciembre </th>
            <td mat-cell *matCellDef="let row"> {{row.mesDiciembre}} </td>
          </ng-container>



          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro:"{{input.value}}"</td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 100, 500]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
  </div>
  <br><br><br>
</div>
<br><br><br><br><br><br>