.card-body {
  overflow: auto;
}

.name-center {
  display: flex;
  align-items: center;
  margin-top: 5px;
  text-transform: uppercase;
}

.tooltip-inner {
  white-space: pre-wrap;
}

.btn-panel {
  font-size: 16px;
}

.mat-mdc-menu-item {
  justify-content: space-around !important;
}

.td-th {
  width: 3%;
}
