<h2 mat-dialog-title class="text-center ">{{titulo}}</h2>
<mat-dialog-content>
  <div *ngIf="loading" class="spinner-border float-end" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <small *ngIf="submitted && createReminder.invalid" class="text-danger fw-bold text-uppercase">Faltan campos
    obligatorios por completar ( * )</small>

  <form [formGroup]="createReminder">
    <label class="form-label mt-2 "><small class="fw-bold ">Título</small> <small class="text-danger">*</small></label>
    <input type="text" class="form-control" placeholder="Ingrese un título" formControlName="reminderTitle">
    <label class="form-label mt-2 "><small class="fw-bold ">Fecha</small> <small class="text-danger">*</small></label>
    <input type="date" class="form-control" placeholder="Ingrese una fecha " formControlName="reminderDate">
    <br>
    <label class="form-label mt-2 "><small class="fw-bold ">Descripción</small> <small
        class="text-danger">*</small></label>
    <textarea class="form-control non-resizable-textarea" maxlength="90" rows="
        5" placeholder="Ingrese una descripción" formControlName="reminderDescription">
      </textarea>
    <div class="descripcionControl float-end">
      {{ createReminder.get('reminderDescription')?.value?.length ?? 0 }} / 90
    </div>

  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="accent" mat-dialog-close="">Volver</button>
  <button mat-raised-button color="primary" type=" submit" (click)="buildOrEditReminder()">Aceptar</button>
</mat-dialog-actions>
