@use "@angular/material" as mat;

$accent: mat.define-palette(mat.$blue-grey-palette, 300);
$primary: mat.define-palette(mat.$indigo-palette, A200);
$warn: mat.define-palette(mat.$red-palette, 700);

$theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

@include mat.icon-theme($theme);
@include mat.button-theme($theme);
@include mat.card-theme($theme);

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #1772ff;
$color-form-highlight: #eeeeee;

//Table Styles (History  Payment Component)
.table {
  width: 100%;
  border: 1px solid $color-form-highlight;
}

.table-header {
  display: flex;
  width: 100%;
  background: #45344a;
  padding: ($half-spacing-unit * 1.5) 0;
}

.table-row {
  display: flex;
  width: 100%;
  padding: ($half-spacing-unit * 1.5) 0;

  &:nth-of-type(odd) {
    background: $color-form-highlight;
  }
}

.table-data,
.header__item {
  flex: 1 1 20%;
  text-align: center;
}

.header__item {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.container-table {
  width: 80%;
  margin: 0 auto;
}
//End Table Styles (History  Payment Component)
