@import "ngx-toastr/toastr";

:root {
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  --border-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(0, 0%, 25%) 0%,
    hsla(0, 0%, 25%, 0) 50%
  );
}

html,
body {
  height: 100%;
}

body {
  background: #1d2125;
  /* background-image: url("https://images.unsplash.com/photo-1548266652-99cf27701ced?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
}

small,
input,
textarea,
label {
  font-size: 14px !important;
  font-family: "Inter", sans-serif;
}

h5 {
  font-weight: 700 !important;
}

h2 {
  font-family: "Syne", sans-serif;
}

mat-label {
  font-size: 13px;
}

i {
  cursor: pointer;
}

table {
  width: 100%;
}

td,
th {
  width: 8.33%;
  border-right: 1px solid #ddd !important;
}

mat-cell,
mat-header-cell,
mat-footer-cell {
  justify-content: center;
}

.mat-mdc-form-field {
  font-size: 16px;
  width: 100%;
}

.custom-container {
  width: 90%;
  margin: 0 auto;
}

.subtitle {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin-left: 4px;
}

.mat-elevation-z8 {
  overflow-x: auto;
}

.mat-mdc-menu-content {
  display: flex !important;
}

.non-resizable-textarea {
  resize: none;
}

.no-select {
  pointer-events: none;
  user-select: none;
}

.custom-button {
  border-color: #303030; /* Color del borde */
  background-color: #333333; /* Color de fondo */
}

.custom-button:hover {
  background-color: #202ecb48; /* Color de fondo al pasar el mouse */
}

input::placeholder {
  font-size: 12px;
}
