<div class="container">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="text-center">
        <div class="mb-md-5 mt-md-4 pb-5">
          <mat-card class="bg-dark text-white" style="border-radius: 1rem;">
            <mat-card-content class="mt-5 text-center">
              <h2 class="title">RECUPERAR CONTRASEÑA</h2>
              <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                <div class="form">
                  <mat-form-field class="mt-2" appearance="fill">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput id="email" formControlName="email" type="email">
                  </mat-form-field>
                </div>

                <button mat-raised-button color="accent" class="mt-3 me-2" routerLink="/login">Volver</button>
                <button class="mt-3" mat-raised-button color="primary" type="submit"
                  [disabled]="resetPasswordForm.invalid">Enviar</button>
              </form>
              <mat-icon class="mt-3" *ngIf="status" style="color: green;">check</mat-icon>
              <div class="mt-3">{{message}}</div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
